/* Base theme */
.bn-container[data-theming-custom][data-color-scheme] .bn-editor {
	padding-inline: 0px;
}

/* Override the data-level and data-prev-level styles */
[data-level="1"],
[data-level="2"],
[data-level="3"],
[data-prev-level="1"],
[data-prev-level="2"],
[data-prev-level="3"] {
  --level: inherit !important;
  --prev-level: inherit !important;
}

/* Override the specific heading styles */
.prose .bn-block-outer[data-prev-type="heading"] > .bn-block > .bn-block-content,
.prose .bn-block-outer:not([data-prev-type]) > .bn-block > .bn-block-content[data-content-type="heading"] {
  font-size: inherit !important;
  font-weight: inherit !important;
}

/* Ensure Tailwind prose styles are applied */
.prose h1,
.prose h2,
.prose h3 {
  font-size: revert !important;
  font-weight: revert !important;
}